<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servlet>
    <servlet-name>REPL</servlet-name>
    <servlet-class>REPLServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>REPL</servlet-name>
    <url-pattern>/eval</url-pattern>
  </servlet-mapping>
</web-app>
